/* .termsConditions {
  margin: 5rem 0;
  padding: 5rem;
  margin-top: 13rem;
}

.termsConditions .container .box-container .header {
  font-size: 1.8rem;
}

.termsConditions .container .box-container .sub-header {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: .2rem solid grey;
}

.termsConditions .container .box-container .content p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.termsConditions .container .box-container .content .content-header {
  padding-left: 1.5rem;
  font-size: 1.5rem;
  list-style: none;
}

.termsConditions .container .box-container .content .content-header>li {
  margin-top: 2rem;
  font-weight: 700;
}

.termsConditions .container .box-container .content .content-header p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.termsConditions .container .box-container .content .content-header .sub-content-header {
  font-size: 1.5rem;
  padding-left: 3.5rem;
  line-height: 3rem;
  list-style-type: square;
} */