// BG
$colorYellow: #FFE473;
$colorOrange: #FE7C14;
$colorRed: #eb0029;
$colorGrey: #acacac;
$paraColor: #484747;
$colorBlue: #00274C;
$colorWhite: #ffffff;
//FONT
$paraFont: 'Manrope', sans-serif;
$headingFont: 'Barlow', sans-serif;
$cursiveFont: 'Oleo Script', cursive;
$karla: 'Karla';

// SHADOW
$boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 5px 0px;